*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Roboto;
    background-image: linear-gradient(to bottom right, #3388cc, #33cc88);
    height: 100vh;
}
.tipc{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 500px;
    /* text-align: center; */
    height: 600px;
    width: 600px;
    background-color: rgb(35, 108, 123);
    flex-direction: column;
    box-shadow: 1px 1px 15px rgb(22, 29, 27);
}
label{
    margin-top: 20px;
    padding: 10px;
}
input{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    color: black;
    
}
button{
    box-shadow: 1px 1px 6px rgb(15, 133, 115);
    background-color: rgb(58, 142, 176);
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;

}
h2{
    padding: 10px;
    color: rgb(252, 248, 248);
    text-align: center;
}
